Import pandas

In [1]:
import pandas as pd 
import matplotlib

import your data

In [2]:
kick_starter = pd.read_csv("ks-projects-201801.csv")

### Converting Columns to upper case 

- Lets convert the columns to uppercase. 
- For this we will use the `.upper()` method
- To do this we need to address only the columns 
- Start with `kick_starter.columns =`  
- Did you get an error? 
- Hints below if needed

In [3]:
kick_starter.columns = kick_starter.columns.str.upper()
print(kick_starter.columns)

Index(['ID', 'NAME', 'CATEGORY', 'MAIN_CATEGORY', 'CURRENCY', 'DEADLINE',
       'GOAL', 'LAUNCHED', 'PLEDGED', 'STATE', 'BACKERS', 'COUNTRY',
       'USD PLEDGED', 'USD_PLEDGED_REAL', 'USD_GOAL_REAL'],
      dtype='object')

### Did you get an error? 

The reason we can't simply use `.upper()` on the DataFrame's column names is that 
- .upper() is a method designed for strings 
- while DataFrame.columns is an Index object (a collection of strings). 
  
  
#### Let's break it down:

Why Not .upper() Directly?
Data Type Difference:
- `df.columns` returns an Index object, not a single string. 
- The `.upper()` method only works on individual strings 
- columns are stored in a list-like structure (Index).

#### Broadcasting Needed:
To apply `.upper()` to each column name, we need to broadcast it over all the column names. <br> 
Pandas provides the `.str` accessor to handle such operations efficiently.

#### Why Use `.str.upper()`?
The `.str` accessor in pandas allows us to apply string methods like `.upper()` to each element in the Index object.
`.str.upper()` ensures that the transformation applies to all column names in one step, treating them as individual strings.

### Converting Columns to title case 

- Start the same way we did above
- Rather than `.upper()` we will use `.title()`
- What did that do to the columns?

In [4]:
kick_starter.columns = kick_starter.columns.str.title()
print(kick_starter.columns)

Index(['Id', 'Name', 'Category', 'Main_Category', 'Currency', 'Deadline',
       'Goal', 'Launched', 'Pledged', 'State', 'Backers', 'Country',
       'Usd Pledged', 'Usd_Pledged_Real', 'Usd_Goal_Real'],
      dtype='object')

## Other Similar Methods  

1. `str.title()`
Capitalizes the first letter of each word in the column names.

    ```js
    kick_starter.columns = kick_starter.columns.str.title()
    ```
    
        Example:
        "project_name" becomes "Project_Name"

2. `str.lower()`
Converts all column names to lowercase.

    ```js
    kick_starter.columns = kick_starter.columns.str.lower()
    ```

        Example:
        "Project_Name" becomes "project_name"

3. `str.upper()`
Converts all column names to uppercase.

    ```js
    kick_starter.columns = kick_starter.columns.str.upper()
    ```

        Example:
        "Project_Name" becomes "PROJECT_NAME"

4. `str.strip()`
Removes leading and trailing whitespace from column names.

    ```js
    kick_starter.columns = kick_starter.columns.str.strip()
    ```

        Example:
        " Project_Name " becomes "Project_Name"

5. `str.replace()`
Replaces a specific substring in the column names with another string.

    ```js
    kick_starter.columns = kick_starter.columns.str.replace('_', ' ')
    ```

        Example:
        "Project_Name" becomes "Project Name"

6. `str.contains()` (for filtering columns)
(Not for renaming, but useful for selecting columns.)
Checks if column names contain a specific substring.

    ```js
    columns_with_name = kick_starter.columns[kick_starter.columns.str.contains('name')]
    print(columns_with_name)
    ```

        Example:
        Returns column names that include "name".

7. str.startswith() / str.endswith()
Filters columns based on their starting or ending substring.

    ```js
    // Columns that start with 'proj'
    columns_starting_with_proj = kick_starter.columns[kick_starter.columns.str.startswith('proj')]

    // Columns that end with 'name'
    columns_ending_with_name = kick_starter.columns[kick_starter.columns.str.endswith('name')]
    ```

8. str.capitalize()
Capitalizes the first letter of the first word in each column name.

    ```js
    kick_starter.columns = kick_starter.columns.str.capitalize()
    ```

        Example:
        "project_name" becomes "Project_name"

9. `str.replace()` with regex
You can also use regex=True for complex replacements.

    ```js
    kick_starter.columns = kick_starter.columns.str.replace(r'\s+', '_', regex=True)
    ```

        Example:
        Replaces spaces with underscores.

10. Combining Methods
You can chain multiple methods together.

    ```js
    kick_starter.columns = (
        kick_starter.columns
        .str.strip()
        .str.lower()
        .str.replace(' ', '_')
    )
    ```

        Example:
        " Project Name " becomes "project_name"

## Remove White Space and Underscores 

Here we will chain some methods together to accomplish the task.  
Our goal is to remove any white space that might be before or after our column names.   
Then we will remove underscore and replace them with a space. 

- Start with `kick_starter.columns =` 
- Then strip the white space 
- Then handle replacing the underscore 
- This should all be ones line of code

In [5]:
   kick_starter.columns = (
        kick_starter.columns
        .str.strip()
        .str.lower()
        .str.replace(' ', '_')
    )

# Dropping columns We Don't Need 

### Why Do We Drop Columns in Data Analytics?
- **Reduce Noise:** Irrelevant columns can obscure important patterns.

- **Improve Efficiency:** Fewer columns mean faster computations.

- **Prevent Overfitting:** Reducing irrelevant features helps models generalize better.

- **Enhance Clarity:** Simplifies data interpretation and reporting.

- **Ensure Privacy:** Removes sensitive or personally identifiable information (PII).

- **Avoid Redundancy:** Drops duplicate or highly correlated features.

- **Focus on Goals:** Keeps only columns relevant to the analysis objective.

With the above in mind let's pick some columns to drop. First we will need to identify some questions and be sure we don't drop columns we don't need. Also we can just infer we may not need certain columns. An example being "Id". We have no other data to reference this column with so we can remove it. 

Things we want to accomplish with our data:
- Filter to US only in Country 
- Goal status for plot 
- What category has the most backers. 
- What has the highest backing amount

With the above questions we can determine columns to remove. 
- 'Id' : We can remove this because we can't reference this to anything with our limited data 
- 'Name' : We will want to keep this so we know what project is what 
- 'Category' : We will primarily look at Main Category but this could be helpful
- 'Main Category' : We have a goal directly related to this column
- 'Currency' : We have a goal related to Currency so we will keep this 
- 'Deadline' : We wont need this column as we have no goals related to this column 
- 'Goal' : we will keep this as and Usd Goal Real
- 'Launched' : We wont need this column as we have no goals related to this column 
- 'Pledged' : We will keep this and Usd Pledged Real
- 'State' :  keep ...
- 'Backers' : keep ...
- 'Country' : keep ...
- 'Usd Pledged' : keep  ...
- 'Usd Pledged Real' : keep ...
- 'Usd Goal Real' : keep ...

Using the list above lest use the `.drop()` method to remove the columns

In [6]:
columns_drop= ['id', 'deadline', 'launched']

In [9]:
kick_starter = kick_starter.drop(columns = columns_drop)
kick_starter.head()

KeyError: "['Id', 'Deadline', 'Launched'] not found in axis"

# Address Nulls Remove vs 0 vs Back Fill ect.

### 1. Remove Rows with Null Values
Use Case: When missing data is sparse or not crucial to the analysis.

```python
# Drop rows with any NaN values
kick_starter_cleaned = kick_starter.dropna()

# Drop rows where specific columns have NaN
kick_starter_cleaned = kick_starter.dropna(subset=['Column1', 'Column2'])
```

Explanation:
- dropna() removes rows where any column has NaN.
- subset targets specific columns only.

### 2. Fill Nulls with Zero
Use Case: When missing values represent quantities like counts or amounts.

```python
# Fill all NaN values with 0
kick_starter_filled = kick_starter.fillna(0)
```

Explanation:
- Filling with 0 ensures calculations like sums are not affected by missing data.

### 3. Fill Nulls with a Specific Value
Use Case: When missing data should default to a constant like "Unknown."

```python
# Fill NaN in a specific column with 'Unknown'
kick_starter['Category'] = kick_starter['Category'].fillna('Unknown')
```

Explanation:
- This is useful for categorical columns where missing data can be treated as a new category.

### 4. Forward Fill (Use Previous Value)
Use Case: For time-series data or when prior values can logically fill gaps.

```python
# Fill NaN using the previous value in the same column
kick_starter_ffill = kick_starter.fillna(method='ffill')
```

Explanation:
- Uses the last valid value to fill the NaN, ideal for propagating information in sequences.


### 5. Backward Fill (Use Next Value)
Use Case: Similar to forward fill, but uses subsequent values instead.

```python
# Fill NaN using the next value in the same column
kick_starter_bfill = kick_starter.fillna(method='bfill')
```

Explanation:
- Backfills using the next available value, ideal when later data can logically fill gaps.

### 6. Fill with Column Mean/Median/Mode
Use Case: For numerical data where imputing missing values based on the distribution is valid.

```python
# Fill NaN with the column mean
kick_starter['Amount'] = kick_starter['Amount'].fillna(kick_starter['Amount'].mean())

# Fill NaN with the column median
kick_starter['Amount'] = kick_starter['Amount'].fillna(kick_starter['Amount'].median())

# Fill NaN with the column mode (most frequent value)
kick_starter['Category'] = kick_starter['Category'].fillna(kick_starter['Category'].mode()[0])
```

Explanation:
- mean and median are for numerical data.
- mode is best for categorical data.

### 7. Interpolate Missing Values
Use Case: For continuous data where missing values can be estimated.

```python
# Linear interpolation
kick_starter_interpolated = kick_starter.interpolate(method='linear')
```

Explanation:
- Interpolates missing values based on surrounding data points. Useful for numerical and time-series data.

We are just going to drop all missing values to keep it 
- use the `.dropna()` method.

In [8]:
kick_starter_cleaned = kick_starter.dropna()
kick_starter.head()

,id,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

# Filter the DataFrame to Include Only US-based Records

- **Step 1:** 
  - Identify the column that contains country information.

- **Step 2:** 
  - Understand the structure of the DataFrame.
  - You will need to filter the rows where the value in the "Country" column is equal to "US" (the United States).

- **Step 3:** 
  - Use a filtering condition.
  - You'll want to create a condition that checks if the "Country" column contains the value "US". This will result in a boolean series (True or False for each row).

- **Step 4:** 
  - Apply the condition to the DataFrame.
  - Once you have the condition, apply it to the DataFrame to return only the rows where the condition is true.

- **Step 5:** 
  - Assign the result back to the DataFrame.
  - After filtering, ensure you store the filtered DataFrame back into the original variable to update it.

- **Tips:**
  - Remember, the condition should be based on the value of the "Country" column.
  - Be careful with case sensitivity (e.g., "US" vs "us").
  - This will be one line of code

In [ ]:
kick_starter = kick_starter[kick_starter['Country'] == "US"]
kick_starter.head()

KeyError: 'Country'

# Calculate Total, Mean, and Median of Backers

**Step 1:** Identify the column that contains the number of backers.

**Step 2:** Calculate the total number of backers.

**Step 3:** Calculate the mean (average) number of backers and round 2 places.

**Step 4:** Calculate the median number of backers.

**Step 5:** Display the results using print().

**Step 6:** Ensure formatting of your print statement more readable.

In [ ]:
backers_sum = kick_starter["backers"].sum()
backers_mean = kick_starter["backers"].mean()
backers_median = kick_starter["backers"].median()

print(f"The sum of backers is {backers_sum} the mean of backers is {backers_mean} and the median of backers is {backers_median}")

The sum of backers is 33089856 the mean of backers is 113.07861543876676 and the median of backers is 14.0

# Find the Category with the Most Backers

**Step 1:** Identify the columns for "Backers" and "Category".

**Step 2:** Group the data by the "Category" column.
- Use the `groupby()` function to group the data by the "Category" column, which will allow you to perform operations on each category.

**Step 3:** Sum the backers for each category.
- After grouping, apply the `sum()` function to get the total number of backers for each category.

**Step 4:** Find the category with the maximum total number of backers.
- Use the `idxmax()` function to find the category that has the highest sum of backers.

**Step 5:** Display the result.
Print out the category with the most backers and the number of backers it has.

In [ ]:
category_backers = kick_starter.groupby("Category")["Backers"].sum()
backers_max = category_backers.idxmax()

print(f" The category with the max backers {backers_max}")

 The category with the max backers Tabletop Games

### Sort the Categories by Number of Backers in Descending Order

**Step 1:** Using the `category_backers` variable.
This variable contains the total number of backers for each category, which was previously calculated by grouping the data and summing the backers for each category.

**Step 2:** Use the `sort_values()` function to sort the `category_backers`.
The sort_values() function is used to sort the values in a Series or DataFrame. You need to specify the ascending parameter to control the order.

**Step 3:** Set `ascending=False` to sort in descending order.
By setting ascending=False, you will sort the data so that the category with the most backers appears first.

**Step 4:** Assign the sorted result back to the `category_backers` variable.
Ensure that the sorted result is saved to the same variable so it updates with the new order.

**Step 5:** Print the top 10 categories.

In [ ]:
category_backers = category_backers.sort_values(ascending=False)
category_backers.head(10)

category
Tabletop Games    5105850
Product Design    5024566
Video Games       3445624
Documentary       1277443
Hardware           928948
Technology         898274
Music              797481
Gadgets            727234
Food               704689
Comics             589024
Name: backers, dtype: int64

Print the last 10 categories.

In [ ]:
category_backers.tail(10)

category
Workshops          2638
Glass              2153
Residencies        2113
Literary Spaces    2098
Weaving            2074
Quilts             1665
Couture            1508
Crochet             952
Embroidery          902
Taxidermy           326
Name: backers, dtype: int64

# More complex groupby and plots

This code will only work if install matplotlib and have done your code correct as it uses your variables column names.

In [ ]:
# Filter the DataFrame for successful projects
filtered_data = kick_starter[kick_starter['State'] == 'successful']

# Group by Category and State and sum the specified columns
top_ten_cats = filtered_data.groupby(['Category', 'State'])[['Backers', 'Usd Pledged Real']].sum().reset_index()

# Sort the entire DataFrame by 'Usd Pledged Real' in descending order
top_ten_cats = top_ten_cats.sort_values(by='Usd Pledged Real', ascending=False)

top_ten_cats.head()

KeyError: "Columns not found: 'Usd Pledged Real'"

In [ ]:
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter

# 1. Top 10 Categories by Total Pledged Amount
plt.figure(figsize=(10, 6))
top_pledged = top_ten_cats.groupby('Category')['Usd Pledged Real'].sum().nlargest(10)

# Highlight the highest value in blue, others in light grey
colors = ['blue' if i == 0 else 'lightgrey' for i in range(len(top_pledged))]

plt.bar(top_pledged.index, top_pledged.values, color=colors)

# Add value only on the blue bar (the highest one)
plt.text(0, top_pledged.values[0], f'{top_pledged.values[0]:,.0f}', 
         ha='center', va='bottom', fontsize=12, color='black')

# Formatting for x-axis labels and title
plt.xticks(rotation=45, ha='right')
plt.title('Top 10 Categories by Total Pledged Amount')
plt.xlabel('Category')
plt.ylabel('Total Pledged Amount (USD)')

# Add comma formatting for y-axis
plt.gca().yaxis.set_major_formatter(FuncFormatter(lambda x, _: f'{x:,.0f}'))
plt.tight_layout()
plt.show()

# 2. Top 10 Categories by Number of Backers
plt.figure(figsize=(10, 6))
top_backers = top_ten_cats.groupby('Category')['Backers'].sum().nlargest(10)

# Highlight the highest value in blue, others in light grey
colors = ['blue' if i == 0 else 'lightgrey' for i in range(len(top_backers))]

plt.bar(top_backers.index, top_backers.values, color=colors)

# Add value only on the blue bar (the highest one)
plt.text(0, top_backers.values[0], f'{top_backers.values[0]:,.0f}', 
         ha='center', va='bottom', fontsize=12, color='black')

# Formatting for x-axis labels and title
plt.xticks(rotation=45, ha='right')
plt.title('Top 10 Categories by Number of Backers')
plt.xlabel('Category')
plt.ylabel('Number of Backers')

# Add comma formatting for y-axis
plt.gca().yaxis.set_major_formatter(FuncFormatter(lambda x, _: f'{x:,.0f}'))
plt.tight_layout()
plt.show()

NameError: name 'top_ten_cats' is not defined